.shacodes a {
    text-decoration: nones;
    color: mediumvioletred;
}

.shacodes a:hover {
    text-decoration: none;
    color: white;


}

.logo {
    padding: 5px;

}

.search {
    width: 100%;
}
